#basicProfile{
    margin-left: 5%;
    display:inline-block;
}

#ProfileDisplay{
   
    
    /* background-color: white; */
    color: rgb(97, 97, 97);
    font-size: 14pt;
}

.smallimg { 
    position: relative;
    /* top: 100pt; */
    

}

.container {
 
    left: 50pt;
    width: 500pt;
    height: 200pt;
    width:50%;


   
}


.container img#profile_pic{
    position:relative;
    border-radius: 100%;
    
}

#view_profile{
    position: relative;
   
    
    height: 10%;
    width: auto;

}


