body{
    background: url('../../Images/cloud.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 100pt;
}

h2, h3{
    text-align: center;
}

Label{
    display: block;
    text-align: center;
    line-height: 150%;
}


#displaynameInput, #firstnameInput, #lastnameInput, #emailInput, #passwordInput, #nameInput, #githubInput, #emailLabel, #passwordLabel{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    display: block;
}


div.buttonDiv{
    margin-bottom:5px;
    left: 15px;
    display:block;
    cursor: pointer;
    border-color: rgb(152, 255, 255);    
    border-radius: 15%;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    width:10%;
    margin: auto;
}



#submitButton:hover, #registerButton:hover, #newAccountButton:hover{
    background-color:  rgb(152, 255, 255);
}

#newAccountButton{
    margin: auto;
    display: block;
    margin-top: 20pt;
    border-color: rgb(152, 255, 255);    
    border-radius: 15%;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width:20%;
    text-align:center;
}