#inputBox{
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

#uploadButton{
    float: right;
    display:none

}

.file-upload {
    color: rgb(121, 121, 121);
    background-color: white;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 3px 3px;
    cursor: pointer;
    border-radius: 3px
}


button#submitButton{
    float: left;
    margin-top: auto;
}


#scroll{
    overflow: auto;
    width: 200pt;
    height: 100pt;
    border: 1px black;
}

#wordAndPic{
    background-color: white;
}

#loading-message{
    margin-left: 10%;
    font-size: 16pt;
    color: rgb(99, 98, 98);
    
}