#inputBox{
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

#uploadButton{
    float: right;
}

button#submitButton{
    float: right;
    margin-top: auto;
}


#scroll{
    overflow: auto;
    width: 200pt;
    height: 100pt;
    border: 1px black;
}

#wordAndPic{
    background-color: white;
}